@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Playfair+Display&family=Pacifico&display=swap');

:root {
  --color-orchidee: #c99556;
  --color-orchidee-text: #1e5c3f;
  --color-orchidee-bg: #f9f0df;
}

body {
  font-family: 'Playfair Display', serif !important;
}

.font-script {
  font-family: 'Pacifico', cursive !important;
}

.logo-text {
  font-family: 'Great Vibes', cursive !important;
}
