@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Playfair+Display&family=Pacifico&display=swap');

:root {
  --color-orchidee: rgb(201, 149, 86);
  --color-orchidee-text: rgb(30, 92, 63);
  --color-orchidee-bg: rgb(249, 240, 223);
  /* --color-orchidee: rgb(251, 251, 249);
  --color-orchidee-text: rgb(141, 35, 82);
  --color-orchidee-bg: rgb(221, 151, 170); */
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Playfair Display', serif;
}

.numbers {
  font-family: 'Open Sans' !important;
}

.navbarlink > a {
  transition: all 0.2s ease-in-out;
}

.navbarlink > a:hover {
  color: rgb(141, 35, 82, 0.75);
  font-weight: bold;
  padding-bottom: 2px;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.priceCard {
  display: block;
  border-radius: 1rem;
  padding: 1rem 1.5rem;
  background-color: var(--color-orchidee-bg);
  color: var(--color-orchidee-text);
  /* min-width: 240px; */
  --tw-shadow:
    0 10px 15px -3px var(--tw-shadow-color, rgb(0 0 0 / 0.1)),
    0 4px 6px -4px var(--tw-shadow-color, rgb(0 0 0 / 0.1));
  box-shadow:
    var(--tw-inset-shadow), var(--tw-inset-ring-shadow),
    var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.priceCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 25px -5px rgba(0, 0, 0, 0.2);
}

.priceCard > h4 {
  font-weight: bold;
  font-size: 1.25rem;
}

.priceCard > hr {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  color: var(--color-orchidee-text);
  opacity: 0.33;
}

.priceCard > div {
  display: flex;
  flex-direction: column;
  row-gap: calc(var(--spacing) * 3);
  margin-top: 0.5rem;
}

.priceCard > div > div {
  display: flex;
  justify-content: space-between;
}

.priceCard > div > div > div {
  display: block;
}

.priceCard > div > div > div > span:nth-child(1) {
  font-size: 1.35rem;
  font-weight: bold;
  color: var(--color-orchidee-text);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.priceCard > div > div > div > span:nth-child(2) {
  font-size: 0.75rem;
}

.priceCard > div > div > p:nth-child(3) {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  font-style: italic;
  font-weight: 500;
  padding: 4px 8px;
  background: linear-gradient(135deg, #f9f0df, #dbcbbd);
  color: #3b3b3b;
  font-size: 0.875rem;
  font-weight: 600;
  font-style: normal;
  color: #1e5c3f;
  font-style: italic;
  text-transform: none;
  letter-spacing: 0.5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 56px;
}

.space-border {
  border: 0;
  border-bottom: 1px dashed #cfd0b7;
  flex: 1;
  height: 1px;
  margin: 1rem 0.5rem;
  padding: 0;
}
